<div class="page">
    <h1>Pigeons index</h1>

    <a href="/pigeons/new">Document new pigeon</a>

    {{#each pigeons}}
    <div class="pigeonIndex">

        <div class="pigeonIndexGrp">
            <div>
                <h3>ID: {{ this.id }}</h3>
                <div class="infoSplit">
                    <div>
                        <p>Name: {{ this.name }}</p>
                        <p>Type: City Pigeon</p>
                        <p>Region: Sydney</p>
                    </div>
                    <div>
                        <p>Description: {{ this.description }}</p>
                    </div>
                </div>
                <a href="/pigeons/{{this._id}}">View Pigeon</a>
                <a href="/pigeons/{{this._id}}?_method=DELETE">Delete Pigeon</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>