<h1>Pigeons index</h1>

<a href="/pigeons/new">Document new pigeon</a>

{{#each pigeons}}
    <div>
        <p>ID: {{ this.id }}</p>
        <p>Encounter: 0</p>
        <p>Name: {{ this.name }}</p>
        <p>Type: City Pigeon</p>
        <p>Description: {{ this.description }}</p>
        <p>Behaviour: {{ this.behaviour }}</p>
        <p>Region: Sydney</p>
    </div>
    <a href="/pigeons/{{this._id}}">View Pigeon</a>
    <a href="/pigeons/{{this._id}}?_method=DELETE">Delete Pigeon</a>

{{/each}}