<div class="page">
    <h1>Pigeons Index</h1>

    <div class="center">
        <a href="/pigeons/new">Document new pigeon</a>
    </div>

    {{#each pigeons}}
    <div class="pigeonIndex">

        <div class="pigeonIndexGrp">
            <div>
                <h3>ID: {{ this._id }}</h3>
                <div class="infoSplit">
                    <div>
                        <p><span class="bold">Name:</span> {{this.name}}</p>
                        <p><span class="bold">Type:</span> City Pigeon</p>
                        <p><span class="bold">Description:</span> {{this.description}}</p>
                    </div>
                    <div>
                        <p><span class="bold">Encounter:</span> 0</p>
                        <p><span class="bold">Global:</span> {{this.count}}<p>
                        <p><span class="bold">Region:</span> {{this.region}}</p>
                    </div>
                </div>
                <div class="infoLinks">
                    <a href="/pigeons/{{this._id}}">View Pigeon</a> |
                    <a href="/pigeons/{{this._id}}?_method=DELETE">Delete Pigeon</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>