<h1>Pigeon</h1>

<p>Name: {{ pigeon.name }}</p>
<p>Description: {{ pigeon.description }}</p>
<p>Behaviour: {{ pigeon.behaviour }}</p>
<p>Location: {{ pigeon.location }}</p>
<p>Activity Log: {{ pigeon.activity }}</p>