<div class="page">
    <h1>Pigeon Info</h1>

    <div class="pigeonInfo">
        <h3>ID: {{pigeon._id}}</h3>

        <div class="pigeonDetailsGrp">
            <div>
                <p><span>My Encounters: {{pigeon.count}}</span><span>Global: {{pigeon.count}}</span></p>
                <div class="pigeonImg"></div>
            </div>

            <div>
                <p>Name: <span>{{pigeon.name}}</span></p>
                <p>Type: <span>{{pigeon.type}}</span></p>
                <p class="block">Description: <span>{{pigeon.description}}</span></p>
                <p>Behaviour: <span>{{pigeon.behaviour}}</span></p>
                <p>Region: <span>{{pigeon.region}}</span></p>
                <p>Last Sighted Location: </p>
                <ul class="locationLog">
                    {{#each pigeon.location}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="activityLog">
            <div>
                <p>Activity Log: </p>
                <ul>
                    {{#each pigeon.activity}}
                        <li><span>{{this}}</span></li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <p class="logBtn"><a href="/pigeons/{{pigeon._id}}/log">Add to Pigeon Log</a></p>
                {{!-- <form method="post" action="/pigeons/{{pigeon._id}}/activity">
                    <div>
                        <label>Log new activity: </label>
                    </div>
                    <div>
                        <textarea name="activity"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Log" />
                    </div>
                </form> --}}
            </div>
        </div>
    </div>
</div>