<div class="page">
    <h1>User Dashboard</h1>

    <div class="profileInfo">
        <h3>ID: {{pigeon.id}}</h3>

        <div class="profileDetailsGrp">
            <div>
                <div class="profileImg"></div>
            </div>

            <div>
                <p>Username: <span>{{pigeon.name}}</span></p>
                <p>Email: <span>City Pigeon</span></p>
                <p>Rank: <span>{{pigeon.description}}</span></p>
                <p>Encounters: <span>{{pigeon.behaviour}}</span></p>
                <p>Documented: <span>{{pigeon.region}}</span></p>
            </div>
        </div>
    </div>
</div>