<div class="page">
    <h1>User Dashboard</h1>

    <div class="profileInfo">
        <h3>ID: {{user._id}}</h3>

        <div class="profileDetailsGrp">
            <div>
                <div class="profileImg"></div>
            </div>

            <div>
                <p>Username: <span>{{user.username}}</span></p>
                <p>Email: <span>{{user.email}}</span></p>
                <p>Rank: <span>{{user.rank}}</span></p>
                <p>Encounters: <span>{{user.encounters.length}}</span></p>
                <p>Documented: <span>{{user.documented.length}}</span></p>
            </div>
        </div>
    </div>
</div>